[flake8]
ignore =
    W503, E203
max-line-length = 120
show-source = False
application-import-names =
exclude =
    .git
    docs
    venv
    build
    env
    log
    dist
    *.egg-info
    __pycache__
